<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>注册也</h1>
    <hr/>
    <form action="http://localhost:3000/users/reg" method="post">
      用户名: <input type="text" name="username"><br/>
      密码: <input type="text" name="password"><br/>
      昵称：<input type="text" name="nikename"><br/>
      <input type="submit" value="注册">
    </form>
  </body>
</html>
